.homescreen {
  max-width: 1300px;
  margin: 1rem auto;
}

.homescreen__title {
  font-size: 1.5rem;
  color: #171717;
  margin-bottom: 1rem;
  margin-left: 8px;
}

.homescreen__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 950px) {
  .homescreen__products {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 630px) {
  .homescreen__products {
    grid-template-columns: 1fr;
  }
}


.intro0 {
    margin: 0px;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    overflow-x: hidden;
    /* background-size: cover; */
    margin: 0px;
    /* height: 100vh; */
}

.mynavBar {
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 0px;
}

.mynavBar ul {
    text-align: center;
}

.mynavBar ul li {
    list-style: none;
    display: inline-block;
    color: white;
    cursor: pointer;
}

.mynavBar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 1.7rem;
    font-family: "Monospace,Monaco";
    letter-spacing: 2px;
    font-weight: 600px;
    display: flex;
}

a:hover {
    color: red;
}

.push {
    margin-left: 40rem;
}

.buton {
    text-decoration: none;
    padding: .5rem;
    background-color: #00ffbf;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
    display: inline;
    color: rgb(132, 67, 67);
    font-family: "Monospace,Monaco";
    font-weight: 100px;
    font-size: 20px;
}

.buton:active {
    transform: scale(0.66);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

.head h1 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    display: block;
    width: fit-content;
    border-right: .15em transparent;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    margin: 5rem 5rem 0rem 5rem;
    font-family: "Monospace,Monaco";
    font-size: 80px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 55px;
    animation:
        typing 3.5s steps(60, end),
        blink-caret .75s step-end infinite;
}

.head h3 {
    overflow: hidden;
    display: block;
    border-right: .18rem transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.13rem;
    margin: 0.1rem 5rem 0rem 5rem;
    font-family: "Monospace,Monaco";
    font-size: 30px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    animation:
        typing 4s steps(60, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

.head p {
    margin: 80px 750px 10px 80px;
    font-weight: 200;
    font-size: larger;
    font-family: "Monospace,Monaco";
    letter-spacing: 0.11rem;
    color: azure;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 1rem;
}

.intro1 {
    /* background-image: url("../images/floor1.jpg"); */
    background-color: #171717;
    background-size: 100% 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    margin: 0px;
    height: 100%;
}

.rect1 {
    position: absolute;
    z-index: 1;
    height: 430px;
    width: 620px;
    margin: 50px 30px 30px 170px;

}

#ngo1 {
    max-width: 100%;
    max-height: 100%;
    box-shadow: black;
}

.rect2 {
    position: absolute;
    z-index: 2;
    height: 430px;
    width: 620px;
    background-color: rgb(236, 229, 216);
    margin: 230px 300px 30px 700px;
}

.rect2 p {
    padding: 3rem 5rem 3rem 5rem;
    font-family: "Monospace,Monaco";
    font-size: 21px;
    font-weight: 500;
}

/*THIS WAS FOR TRANSITIONS*/
/* .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  } */

  /* .intro2{
    background-image: url("/ecommerce/static/images/floor1.jpg");
    background-size: 100% 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    margin: 0px;
    height: 100%;
} */





















/* @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 
animation: fadeInAnimation ease 3s;
animation-iteration-count: 1;
animation-fill-mode: forwards; */
